@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .brand-container {
    @apply container mx-auto px-5 py-5 ;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }
  p {
    @apply text-sm font-normal;
  }

.bg{
  background-image: url("../public//assest/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

}
